<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.syu.anyshop.login.LoginDao">

	<!-- <resultMap type="com.syu.anyshop.login.LoginInfo" id="LoginInfoResult">
		<result column="ID" property="id" />
		<result column="PW" property="pw" />
	</resultMap>
 -->
	<!-- 로그인 체크 쿼리 -->
	  <select id="loginCheck" parameterType="com.syu.anyshop.login.LoginInfo" resultType="java.lang.Integer">
		SELECT COUNT(*) FROM MEMBER
		<where>
			ID = #{id}
			AND
			PW = #{pw}
		</where>
	</select>  

	<!-- Select -->
	 <select id="viewMember" resultType="com.syu.anyshop.login.LoginInfo">
		SELECT * FROM MEMBER
		<where>
			ID = #{id}
			AND
			PW = #{pw}
		</where>
	</select>  
	
	  <select id="totalAccount" resultType="integer">
		SELECT COUNT(*) FROM MEMBER
	</select> 
 
	<!-- 회원가입 -->
	 <insert id="addMember" parameterType="com.syu.anyshop.login.LoginInfo">
		INSERT INTO MEMBER (id, pw, name, phone, gender, email, address)
		VALUES(#{id}, #{pw}, #{name}, #{phone}, #{gender}, #{email}, #{address}) 
	</insert> 

	<!-- 정보 수정 -->
	<update id="updateMember" parameterType="com.syu.anyshop.login.LoginInfo">
		UPDATE MEMBER
		SET ID= #{id}, PW= #{pw},  NAME = #{name}, PHONE = #{phone}, GENDER = #{gender}, EMAIL=#{email}, ADDRESS=#{address}
		<where>
			ID = #{id}
		</where>
	</update> 

	<!-- 회원 탈퇴 -->
	 <!-- <delete id="deleteMember" parameterType="java.lang.String">
		DELETE FROM MEMBER
		<where>
			ID = #{id}
		</where>
	</delete>  -->
	
	<!-- 아이디 찾기 -->
	<select id="findId" parameterType="map" resultType="java.lang.String">
		SELECT ID FROM MEMBER
		<where>
			NAME = #{name} and PHONE = #{phone}
		</where>
	</select>

	<!-- 비밀번호 찾기 -->
	 <select id="findPw" parameterType="map" resultType="java.lang.String">
		SELECT PW FROM MEMBER
		<where>
			ID = #{id} and NAME = #{name} and PHONE = #{phone}
		</where>
	</select>
	
	<!-- 암호변경 -->
	<update id="updatePw" parameterType="map">
		UPDATE MEMBER
		SET  PW= #{pw}
		<where>
			ID = #{id}
		</where>
	</update> 
	

	<!-- 아이디 중복검사 -->
	 <select id="userCheck" parameterType="String" resultType="int">
		SELECT COUNT(*) FROM MEMBER
		<where>
			ID = #{id}
		</where>
	</select>  
	
	<!-- 화면 잠금 해제 비밀번호 가져오기 -->
	<!-- <select id="pwCheck" parameterType="java.lang.String" resultType="java.lang.String">
		SELECT PW FROM MEMBER
		<where>
			ID = #{id}
		</where>
	</select> -->
	
</mapper>